#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pokemon-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.pokemon-card-container{
  margin: 0;
  flex: 0 0 auto;
}